/* CSS for GraphXBlock */
.styled {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1.35rem;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px black;
  border-radius: 10px;
  background-color: tomato;
  background-image: linear-gradient(
    to top left,
    rgb(0 0 0 / 0.2),
    rgb(0 0 0 / 0.2) 30%,
    transparent
  );
  box-shadow:
    inset 2px 2px 3px rgb(255 255 255 / 0.6),
    inset -2px -2px 3px rgb(0 0 0 / 0.6);
}

.styled:hover {
  background-color: red;
}

.styled:active {
  box-shadow:
    inset -2px -2px 3px rgb(255 255 255 / 0.6),
    inset 2px 2px 3px rgb(0 0 0 / 0.6);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.alertBox {
  padding: 20px;
  background-color: #04AA6D;
  color: white;
  display: none;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.closebtn {
  margin-left: auto;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
